# Konfigurasi Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=masukkan_password_mysql_kalian_di_sini
DB_NAME=chill_db
DB_PORT=3306

# Konfigurasi Server
PORT=5001

# Keamanan & Autentikasi (JWT)
ACCESS_TOKEN_SECRET=masukkan_secret_key_jwt_disini

# Konfigurasi Layanan Email (Nodemailer - SMTP)
SMTP_EMAIL_USER=contoh_admin@gmail.com
SMTP_APP_PASSWORD=masukkan_16_digit_app_password_disini