# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_store
Thumbs.db

# Ignore all files in the uploads folder
uploads/*

# Exception: Keep track of the .gitkeep file to prevent the folder from being lost
!uploads/.gitkeep